.login-container {
  background-color: #ffffff;
  border: 3px solid #000000;
  border-radius: 0px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container h1 {
  font-size: 36px;
}

.login-container ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  color: red;
  font-size: 20px;
}

.login-container ul li {
  margin-right: 20px;
}

.input-field {
  width: 80%;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: 20px;
  margin: 10px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button {
  font-size: 20px;
  padding: 10px 30px;
  
}